# Distribution / packaging
*.egg-info/
.eggs/
dist/
build/
pip-wheel-metadata/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/
.pyre/
.ruff_cache/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db